@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@font-face {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'MyFont', sans-serif;
    color: #FFFFFF;
}

.pse-body {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #0A0A0A;
}

.global {
    width: 1300px;
    height: 800px;
    background-color: #282828;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0.548);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: grid;
    margin: auto;
    background-color: aqua;
    display: none;
}

.main-block {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-gap: 20px;
    padding: 10px;
    max-height: 100%;
    min-height: 0;
}

.tracks {
    display: block;
    margin: 0 auto;
    grid-gap: 10px;
    cursor: pointer;
    overflow-y: auto;
    height: 100%;
    min-height: 0;
    direction: rtl;
}

.tracks>* {
    direction: ltr;
}

.song {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: fit-content;
    grid-gap: 20px;
    padding: 10px;
    border-radius: 16px;
    background-color: #ffffff21;
    transition: 0.2s;
    margin-left: 10px;
    margin-bottom: 10px;
}

.song:last-child {
    margin-bottom: 0px;
}

.song:hover {
    background-color: #ffffff59;
}

.active {
    background-color: #ffffff59;
    ;
}

.cover {
    border-radius: 8px;
    margin: auto;
}

.audio {
    margin-top: 10px;
}

.songtitle {
    display: grid;
    margin: auto 0;
}

.songtitle h2,
h3 {
    margin: 5px 0;
}

.desc {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #414141;
    border-radius: 16px;
}

.song-desc {
    display: block;
    margin: 20px 20px;
}


.player {
    display: grid;
    margin: auto;
    height: 100%;
}

.player-div {
    display: block;
    margin: 0 auto;
    width: 85%
}

.playerCover {
    display: grid;
    height: fit-content;
    margin: 0 auto;
}

.playerCover img {
    width: 100%;
    border-radius: 16px;
    margin: auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    background-color: #414141;
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    padding: 10px 0;
    /* display: none; */
}

.footerPart {
    margin: auto;
}

.button-reset {
    margin: auto;
    font-size: 14pt;
    padding: 8px;
    border-radius: 8px;
    border: 0px;
    background-color: #0A0A0A;
    cursor: pointer;
}


/* Стилизация скролл-бара для всего приложения */
::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
    border-radius: 5px;
    direction: rtl;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff59;
    border-radius: 7px;
}

/* --------------- */


.playerPlay {
    margin: 20px auto;
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    display: block;
}

.playerPlay img {
    filter: invert();
    transition: 0.2s;
    width: 50%;
}


.playerControls {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: auto;
    width: 100%;
}


.buttons-play {
    margin: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.buttons-play img {
    border-radius: 10px;
}

.timeLine {
    height: fit-content;
    display: flex;
    margin: auto;
    width: 90%;
    /* background-color: red; */
}

.timeLine input {
    margin: 0 0 20px 0;
    cursor: pointer;
}




/* Стилизуем громкость*/

.volume {
    position: relative;
}



.volumeInput {
    background-color: rgb(255, 255, 255);
    transform: rotate(-90deg);
    position: absolute;
    top: -100px;
    left: 23px;
    right: 0;
    bottom: 0px;
    opacity: 0;
    display: flex;
    margin: auto;
    height: 28px;
    width: 140px;
    border-radius: 10px;
    z-index: 999;
    transition: 0.2s;
}

.volume:hover .volumeInput {
    opacity: 1;
    display: flex;
}

.volumeInput input {
    display: flex;
    margin: auto;
    cursor: pointer;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cicle {
    display: block;
}



/* Блок редактирования песни */

.editWindow {
    display: none;
}

.editWindowActive{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #414141;
    width: 500px;
    max-width: 500px;
    height: fit-content;
    border-radius: 16px;
    overflow-y: hidden;
    z-index: 9999;
    display: block;
}

.editWindowActive h3{
text-align: center;
margin: 50px auto;
}

.editPart {
    display: grid;
    margin: 40px auto;
    width: 80%;
    font-size: 18pt;
}

.editInput {
    color: #0A0A0A;
    font-size: 15pt;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
}

.editPart button {
    display: grid;
    margin: 10px 30px;  
}

